.footer{
    margin-top: 80px;
    background-image: url("/bg5.svg"); /* replace with your image */
  background-size: cover;
  background-position: center;
  padding: 0;
  background-repeat: no-repeat;
  padding-top: 75px;
  height: auto;
  min-height: 900px;
  position: relative;
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5%;
    overflow: hidden;
left: 0;
z-index: 1;}

.overlay img{
    width: 100%;
    height: auto;
}
.footer + div{
    height: 57px;
    background-color: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;

}


.footer + div p{
    font-family: 'Roboto';
font-weight: 300;
font-size: 18px;
line-height: 140%;
letter-spacing: 0px;
vertical-align: middle;

}

.contactus{
    display: flex;
    flex-direction: column;
    color: white;
}
.textContent  div p{

    font-family: 'Roboto';
font-weight: 400;
font-size: 18px;
line-height: 140%;
letter-spacing: 0px;
vertical-align: middle;


}
.contactus >div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contactus >div >div{
display: flex;
gap: 20px;
}



.textContent > div> h2{
    font-family: 'Roboto';
font-weight: 700;
font-size: 34px;
line-height: 130%;
letter-spacing: 0px;
vertical-align: middle;


}

.textContent div{
    color: white;
}
.textContent >div h2{
    margin-bottom:  30px;
}

.links{
    display: flex;
    flex-direction: column;
    max-width: fit-content;
}

 .links > div{
        display: flex;
        flex-direction: column;
        max-width: fit-content;
        gap: 20px;
    }

.link{
    color: white;
    text-decoration: none;
    font-family: 'Roboto';
font-weight: 400;
font-size: 18px;
line-height: 140%;
letter-spacing: 0px;
vertical-align: middle;

padding-right: 7px;
padding-left: 7px;

transition: all 0.5s ease;
border-bottom: 1px solid transparent;

}

.active{
    font-family: 'Roboto';
    text-align: center;
font-weight: 600;
font-size: 18px;
line-height: 24px;
letter-spacing: 0px;
vertical-align: middle;

border-bottom: 1px solid #D0E83C;

color: #D0E83C;


}
.services > div{
display: flex;
flex-direction: column;
gap: 20px;
}

.services>div a{
    
color: white;
}

.textContent{
    width: 100%;
    margin-top: 180px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.content{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoCont{
    width: 400px;
    height: auto;
    opacity: 0.8;
}

.logoCont img{
    width:  100%;
    height: auto;
}

.subscribe{
    max-width: 355px;
    display: flex;
    flex-direction: column;
    gap:30px
}

.subscribe h2{
    margin-bottom: 0 !important;
}

.socials{
    display: flex;
    gap: 30px;
}
.socials span svg{
    transition: all 0.5s ease;
    cursor: pointer;
}

.socials span svg path{
    transition: all 0.5s ease;
fill: white;
}
.socials span svg:hover{
    transform: scale(1.05);
}
.socials span svg:hover path{
    fill: #D0E83C;
}

.subscribe form{
    border-bottom: 1px solid #D0E83C;
    width: 355px;
    max-width: 816px;
    display: flex;
    justify-content: space-between;
}

.subscribe form input{
    color: #D0E83C;
    padding: 12px 16px;
    background-color: transparent;
    border: none;
    outline: none;
}
.subscribe form input::placeholder{
    font-family: 'Roboto';
font-weight: 400;
font-size: 18px;
line-height: 140%;
letter-spacing: 0px;
vertical-align: middle;
color: #D0E83C;

}


.subscribe form button{
    border: none;
    background-color: transparent;
    color: #D0E83C;
    padding-right: 16px;

    font-family: 'Roboto';
font-weight: 500;
font-size: 18px;
line-height: 20px;
letter-spacing: 0px;
vertical-align: middle;
text-transform: capitalize;

}

@media (max-width:1200px) {
    .textContent{
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        padding-bottom: 20px;
        margin-top: 40px;
        
    }
    .socials{
        justify-content: center;
    }
    .subscribe h2{
        text-align: center;
    }
}
@media (max-width:760px) {
    .contactus h2{
        text-align: center;
    }
}

@media (max-width:760px) {
    
    .footer + div p{
        font-size: 14px !important;
    }
}

@media (max-width:426px) {
    .logoCont{
        width: 200px;
    }
    .textContent{
        gap: 20px;
    }
    .contactus >div{
        gap: 10px;
    }
    .contactus >div >div{
        gap: 10px;
    }
    .textContent >div >h2{
        margin-bottom: 10px;
        font-size: 25px;
    }
    .textContent P ,.textContent a{
        font-size: 14px !important;
    }
    .links >div , .services >div{
        gap: 10px;
    }
    .subscribe{
        align-items: center;
    }
    .subscribe form{
        width: 300px;
    }
}