.bntContainer button{
    display: inline-flex;
    flex-direction: row;
    border: none;
    align-items: center;
    padding: 17px 40px;
    background-color: #D0E83C;
    box-shadow: 0px 4px 4px 0px #FFFFFF66 inset;
border-radius: 60px;
box-shadow: 3px 6px 0px 0px #6ABBCE;
max-width: 816px;
width: fit-content;
gap: 24px;
align-items: center;
justify-content: center;
transition: all 0.5s ease;
}


.bntContainer button:hover{
box-shadow: 0px 4px 4px 0px #FFFFFF66 inset;

box-shadow: 3px 6px 0px 0px #27697B;
}



.bntContainer button span{
    font-family: 'Roboto';
font-weight: 600;
font-size: 18px;
line-height: 20px;
letter-spacing: 0px;
vertical-align: middle;
text-transform: capitalize;
color: black;
}

.bntContainer button div{
    width: 24px;
height: 24px;
display: flex;
align-items: center;
justify-content: center;

}

@media (max-width:960px) {
    .bntContainer button span{
        font-size: 16px;
    }
    .bntContainer button{
        
        padding: 12px 20px;
        gap: 14px;

    }
}

@media (max-width:580px) {
    .bntContainer button span{
        font-size: 12px;
    }
    .bntContainer button{
        
        padding: 7px 12px;
        gap: 10px;
        
    }
    
}